body {
    font-family: Arial, sans-serif;
    background-color: #f28852;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    background-color: #f9e8cc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 123, 0);
    padding: 20px;
    width: 300px;
}

h1 {
    font-family: Oswald;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #fc5203;
}

#Logo{
    position: fixed;
    margin-bottom: 37%;
}

label {
    font-family: "Syne", sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

input[type="number"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #fc5203;
    outline-color: rgb(255, 145, 0);
}

button {
    width: 100%;
    padding: 10px;
    background-color: #fc5203;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #f28852;
}

#resultados {
    margin-top: 20px;
}

#resultadoGorjeta, #resultadoTotal {
    font-family: "Syne", sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
}